{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}Student: {{ request.user.student.college.college_name|slice:':20' }} {% endblock title %}
{% block student-content %}
    <main role="main" class="container-md">
    </main>

    <script type="text/javascript">
        if (!document.getElementById('student-articles-link').classList.contains('active')) {
            document.getElementById('student-articles-link').classList.add('active');
        }
    </script>
{% endblock student-content %}

{% block college-student-script %}

{% endblock college-student-script %}
