@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --red-munsell: #EC0B43;
    --dark-pastel-green: #20BF55;
    --blue-sapphire: #0B4F6C;
    --chrome-yellow: #faa916;
    --leavander-blush: #FCEFF9;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #f5f5f5;
    padding-top: 35px;
    padding-bottom: 10px;
}

main {
    padding-top: 125px;
}

.footer-content a {
    display: inline;
    text-decoration: none !important;
    color: var(--blue-sapphire) !important;
    font-size: 13px;
}

.footer-content {
    list-style: none;

}

.navbar-dark.bg-dark {
    background-color: var(--blue-sapphire) !important;
}

.btn-outline-warning {
    color: var(--chrome-yellow) !important;
    border-color: var(--chrome-yellow) !important;
}

.btn-outline-warning:hover {
    color: white !important;
    background-color: var(--chrome-yellow) !important;
}

.btn-warning {
    color: white;
    background-color: var(--chrome-yellow) !important;
    border-color: var(--chrome-yellow) !important;
}

.btn-warning:hover {
    background-color: #e59b18 !important;
    color: var(--blue-sapphire);
}

.btn-warning:focus {
    color: var(--blue-sapphire) !important;
}

.btn-danger {
    color: white;
    background-color: var(--red-munsell) !important;
    border-color: var(--red-munsell) !important;
}

.btn-danger:hover {
    background-color: #ca0337 !important;
}

.headline {
    text-align: center;
}

.brand-text {
    font-size: 3vw;
    font-weight: 700;
}

.brand-small-text {
    font-size: 0.8vw;
    font-weight: 500;
}

.feature-image-container {
    text-align: center;
}

.feature-image {
    max-width: 100%;
    height: auto;
}

th {
    font-size: 20px;
    font-weight: bolder !important;
    border-color: var(--blue-sapphire) !important;
    background-color: var(--blue-sapphire) !important;
}

td {
    font-weight: bold;
}

.row-desc {
    font-size: 18px;
    font-weight: bolder;
    color: var(--blue-sapphire);
}

.buy-btns {
    width: 70px;
    font-weight: bold;
}

.btn-success {
    background-color: var(--dark-pastel-green);
}

/* Specific to signup.html */
.signup-header h1 {
    font-weight: bold;
    font-size: 3vw;
    padding-bottom: 20px;
}

.signup-form {
    padding-bottom: 50px;
}

#cardnumber {
    display: inline !important;
}

#cardcvv {
    display: inline !important;
}

.alert-dismissible {
    display: none;
}

.colorbluesapphire {
    color: var(--blue-sapphire);
}

.bgcolorbluesapphire {
    background-color: var(--blue-sapphire);
}

.card {
    padding: 25px;
    border-radius: 6px;
}

.search-box {
    margin-bottom: 10px;
    width: 100%;
}

.search-box:focus {
    outline-color: var(--blue-sapphire);
}

.content-show-sm {
    display: none;
}

.border-outline-text-chrome-yellow {
    color: var(--chrome-yellow);
    border: 1px solid var(--chrome-yellow);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
}

/* For mobile devices */
@media screen and (max-width: 600px) {
    .content-hide-sm {
        display: none;
    }

    .content-show-sm {
        display: block;
    }

    #content-teachers {
        width: 95% !important;
    }

}
