main {
    padding-top: 40px;
}

#main-dashboard {
    padding-top: 18px;
}

#dash-nav {
    display: block;
    margin: auto;
    text-align: center;
}

.content {
    position: absolute;
    padding-top: 15px;
}

.hidden {
    display: none;
}

#department-table {
    overflow: scroll !important;
}


/* For mobile devices */
@media screen and (max-width: 600px) {
    #content-classes {
        width: calc(0.95 * 100vw);
    }

    .btn-margin-top-sm {
        margin-top: 0.8rem !important;
    }
}
