main {
    padding-top: 40px;
}

#main-dashboard {
    padding-top: 18px;
}

#dash-nav {
    display: block;
    margin: auto;
    text-align: center;
}

.content {
    position: absolute;
    padding-top: 15px;
}

.hidden {
    display: none;
}

#department-table {
    overflow: scroll !important;
}

#class-card {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.header-img-container {
    position: relative;
    text-align: center;
}

#classroom-header-img {
    clip-path: polygon(0 1%, 100% 0, 100% 45%, 0 45%);
}

.img-text-top-left {
    position: absolute;
    top: 80px;
    left: 450px;
    font-weight: 600;
}

.header-img-container {
    height: 35vh;
    overflow: hidden;
}

.subject-options {
    background: #fff !important;
    color: var(--chrome-yellow) !important;
    outline: var(--chrome-yellow) !important;
}

/* For teacher_classroom */
.hidepost {
    display: none !important;
}

.opt-label {
    padding-right: 0;
}

.posts {
    margin-bottom: 50px;
}

.post-media {
    height: 300px !important;
    width: auto !important;
}


/* For mobile devices */
@media screen and (max-width: 600px) {
    #content-classes {
        width: calc(0.95 * 100vw);
    }

    .btn-margin-top-sm {
        margin-top: 0.8rem !important;
    }

    #classroom-cards-page-heading {
        text-align: left;
        margin-left: 0.5rem;
    }

    #classroom-cards {
        padding-left: 4rem;
    }

    #classroom-main {
        padding-top: 5px;
    }

    #classroom-header-img {
        clip-path: polygon(0 1%, 100% 0, 100% 50%, 0 50%);
    }

    .img-text-top-left {
        top: 25px;
        left: 150px;
        font-size: 5vw;
    }

    .header-img-container {
        height: 15vh;
        overflow: hidden;
    }

    /* for image, video and youtube posts */
    .post-media {
        width: 60vw !important;
        height: auto !important;
    }
}


/* For iPads */
@media screen and (max-width: 1024px) and (max-width: 1366px) {
    .header-img-container {
        height: 20vh !important;
    }
}
