{% extends 'college/college_base.html' %}
{% load static %}
{% block title %} Admin: {{ request.user.college.college_name|slice:':20' }} {% endblock title %}
{% block admin-content %}
    <main role="main" class="container-md" id="main-dashboard">
        {#        <div class="alert alert-warning" role="alert">#}
        {#            Nothing to show. <br> Please add <a href="{% url 'college_add_classes' %}">classes</a> and#}
        {#            <a href="{% url 'college_add_teachers' %}">teachers</a> first.#}
        {#        </div>#}
        <div id="dash-nav">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button data-toggle="tooltip" title="Main admin dashboard" type="button"
                        class="btn btn-warning disabled" id="button-dashboard">Dashboard
                </button>
                <button data-toggle="tooltip" title="Manage existing departments and classes" type="button"
                        class="btn btn-warning" id="button-classes">Classes
                </button>
                <button data-toggle="tooltip" title="Manage existing teachers" type="button" class="btn btn-warning"
                        id="button-teachers">Teachers
                </button>
            </div>
            <hr>
        </div>
        <div class="content" id="content-dashboard">
            <h1 class="colorbluesapphire">Dashboard</h1>
            <!-- TODO: Add dashboard content here-->

        </div>
        <div class="content hidden" id="content-classes">
            <div class="float-lg-left">
                <h1 class="colorbluesapphire">Classes List</h1>
                <input type="text" class="search-box" id="classes-list-search" placeholder="Search class">
                <div class="table-responsive-md">
                    <table class="table table-bordered" id="class-table">
                        <thead class="thead-dark bgcolorbluesapphire">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Dept.</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cls in classes %}
                            <tr>
                                <td>{{ cls.id }}</td>
                                <td>{{ cls.name }}</td>
                                <td>{{ cls.department.name }}</td>
                                <td>
                                    <button class="btn btn-warning class-edit-btn">Edit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger class-delete-btn">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="float-lg-right">
                <h1 class="colorbluesapphire">Departments List</h1>
                <input type="text" class="search-box" id="departments-list-search"
                       placeholder="Search department">
                <div class="table-responsive-md">
                    <table class="table table-bordered" id="department-table">
                        <thead class="thead-dark bgcolorbluesapphire">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{ department.id }}</td>
                                <td>{{ department.name }}</td>
                                <td>
                                    <button class="btn btn-warning department-edit-btn">Edit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger department-delete-btn">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# List existing teachers #}
        <div class="content hidden" id="content-teachers">
            <h1 class="colorbluesapphire">Teachers List</h1>
            <div class="content-show-sm">
                <select id="col-to-show">
                    <option>Show names</option>
                    <option>Show email-ids</option>
                </select>
                <br><br>
            </div>
            <input type="text" class="search-box" id="teachers-list-search" placeholder="Search teacher">
            <div class="table-responsive-md">
                <table class="table table-bordered" id="teacher-table">
                    <thead class="thead-dark bgcolorbluesapphire">
                    <tr>
                        <th scope="col">#</th>
                        <th class="name-col" scope="col">Name</th>
                        <th class="content-hide-sm email-col" scope="col">Email Id</th>
                        <th class="content-hide-sm" scope="col">Classes Assigned</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.id }}</td>
                            <td class="name-col">{{ teacher.first_name }}&nbsp;{{ teacher.last_name }}</td>
                            <td class="content-hide-sm email-col">{{ teacher.email }}</td>
                            <td class="content-hide-sm">
                                {% for clg_cls in teacher.college_classes.all %}
                                    {{ clg_cls.name }}&nbsp;
                                {% endfor %}
                            </td>
                            <td>
                                <button id="edit{{ teacher.id }}" class="btn btn-warning teacher-edit-btn">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button id="delete{{ teacher.id }}" class="btn btn-danger teacher-delete-btn">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# Edit a particular tecaher #}
        <div class="content hidden" id="content-teachers-edit">
            <button id="go-back-btn" class="btn btn-warning">Go back</button>
            <hr>
            <h1 class="colorbluesapphire">Update teacher info</h1>
            <br>
            <div class="card">
                <form name="addteacher" id="addteacherform" class="card-body">
                    {% csrf_token %}
                    <span id="id-teacher-edit" class="hidden"></span>
                    <div class="form-group">
                        <label for="firstname">Teacher's name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                   aria-describedby="nameHelp"
                                   placeholder="First name" required>
                            &nbsp;
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                   aria-describedby="nameHelp"
                                   placeholder="Last name" required>
                        </div>
                        <small id="nameHelp" class="form-text text-muted">Please enter your name</small>
                    </div>
                    <div class="form-group">
                        <label for="selectclasses">Select the class(es) that you want this teacher to be a part
                            of</label>
                        <select multiple class="form-control" id="selectclasses" name="selectclasses">
                            {% for class_name in classes %}
                                <option>{{ class_name.name }}</option>
                            {% endfor %}
                        </select>
                        <small id="selectclassesHelp" class="form-text text-muted">
                            <strong>
                                Please hold the CTRL key on Windows/Linux or CMD key on Mac before clicking.
                            </strong>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                               placeholder="Enter email" required>
                        <small id="emailHelp" class="form-text text-muted">
                            <strong>This email address will also be this teacher's username </strong>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1"
                               placeholder="Password">
                        <small id="password1Help" class="form-text text-muted">
                            <strong>You cannot see the old password for this account because password's are
                                never saved in the databases, only their hashes are saved.
                                But you (admin) can overwrite the old password with this new one.</strong>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password2">Re-enter password</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                               placeholder="Re-enter password">
                        <small id="password2Help" class="form-text text-muted">
                            <strong>Whitespaces are not allowed in passwords and will be automatically removed before
                                submission.</strong>
                        </small>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" id="formerror" role="alert">
                        <strong id="alertmessage"></strong>
                        <button type="button" class="close" id="alertclose" aria-label="Close">
                            &times;
                        </button>
                    </div>
                    <button type="button" class="btn btn-warning" onclick="validateAndSave()">Save and go back
                    </button>
                </form>
            </div>
        </div>
        <br><br>

        {# Toast notification markup #}
        <div id="toast-polite-div" class="hidden" aria-live="polite" aria-atomic="true"
             style="position: relative; min-height: 200px;">
            <!-- Position it -->
            <div style="position: absolute; top: 0; right: 0;">
                <div class="toast" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary"></strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                    </div>
                    <div class="toast-body">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock admin-content %}

{% block college-admin-script %}
    <script>
        if (!document.getElementById("home-link").classList.contains('active')) {
            document.getElementById("home-link").classList.add('active');
        }

        {# Get the content blocks#}
        let dashboardContent = document.getElementById("content-dashboard");
        let classesContent = document.getElementById("content-classes");
        let teachersContent = document.getElementById("content-teachers");

        {# Get the buttons #}
        let dashboardButton = document.getElementById("button-dashboard");
        let classesButton = document.getElementById("button-classes");
        let teachersButton = document.getElementById("button-teachers");


        dashboardButton.addEventListener("click", function () {
            {# Handle the buttons #}
            if (!dashboardButton.classList.contains("disabled")) {
                dashboardButton.classList.add("disabled");
            }
            if (classesButton.classList.contains("disabled")) {
                classesButton.classList.remove("disabled");
            }
            if (teachersButton.classList.contains("disabled")) {
                teachersButton.classList.remove("disabled");
            }

            {# Handle the contents #}
            if (dashboardContent.classList.contains("hidden")) {
                dashboardContent.classList.remove("hidden");
            }
            if (!classesContent.classList.contains("hidden")) {
                classesContent.classList.add("hidden");
            }
            if (!teachersContent.classList.contains("hidden")) {
                teachersContent.classList.add("hidden");
            }
        });
        classesButton.addEventListener("click", function () {
            {# Handle the buttons #}
            if (!classesButton.classList.contains("disabled")) {
                classesButton.classList.add("disabled");
            }
            if (dashboardButton.classList.contains("disabled")) {
                dashboardButton.classList.remove("disabled");
            }
            if (teachersButton.classList.contains("disabled")) {
                teachersButton.classList.remove("disabled");
            }

            {# Handle the contents #}
            if (classesContent.classList.contains("hidden")) {
                classesContent.classList.remove("hidden");
            }
            if (!dashboardContent.classList.contains("hidden")) {
                dashboardContent.classList.add("hidden");
            }
            if (!teachersContent.classList.contains("hidden")) {
                teachersContent.classList.add("hidden");
            }
        });
        teachersButton.addEventListener("click", function () {
            {# Handle the buttons #}
            if (!teachersButton.classList.contains("disabled")) {
                teachersButton.classList.add("disabled");
            }
            if (dashboardButton.classList.contains("disabled")) {
                dashboardButton.classList.remove("disabled");
            }
            if (classesButton.classList.contains("disabled")) {
                classesButton.classList.remove("disabled");
            }

            {# Handle the contents #}
            if (teachersContent.classList.contains("hidden")) {
                teachersContent.classList.remove("hidden");
            }
            if (!classesContent.classList.contains("hidden")) {
                classesContent.classList.add("hidden");
            }
            if (!dashboardContent.classList.contains("hidden")) {
                dashboardContent.classList.add("hidden");
            }
        });


        $(document).ready(function () {
            {# Table search code in jQuery explanation #}
            {# elements.filter(fn) will apply the fn (function) to all the elements in the elements i.e. list of elements #}
            {# which in this case is all the <tr>s inside the <tbody> in their respective tables. #}
            {# For each table row <tr> the function will check whether the text inside the row (any col) matches to the #}
            {# string entered in the search box using the indexOf() function, which returns a number >= 0 if it finds an #}
            {# match, otherwise it returns -1. This element is then passed to the .toggle() function which enables only those #}
            {# elements. #}
            $("#classes-list-search").on("keyup", function () {
                let term = $(this).val().toLowerCase();
                $("#class-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(term) > -1);
                });
            });

            $("#departments-list-search").on("keyup", function () {
                let term = $(this).val().toLowerCase();
                $("#department-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(term) > -1);
                });
            });

            $("#teachers-list-search").on("keyup", function () {
                let term = $(this).val().toLowerCase();
                $("#teacher-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(term) > -1);
                });
            });


            {# jQuery code for updating classes table items #}
            $(".class-edit-btn").on("click", function () {
                if ($(this).text() === 'Edit') {
                    {# If the button's value is 'Edit' that means the row is not in edit mode #}
                    let idElement = $(this).parent().siblings()[0];
                    let nameElement = $(this).parent().siblings()[1];
                    let departmentElement = $(this).parent().siblings()[2];
                    let clsName = nameElement.innerHTML;
                    let departmentName = departmentElement.innerHTML;

                    nameElement.innerHTML = `<input type='text' id='clsnm' value='${clsName}' style='width: 100px'>`;
                    departmentElement.innerHTML = `<select id='clsdpt' style='width: 100px'></select>`;

                    let options = '';

                    {% for department in departments %}
                        options += `<option value="{{ department.name }}">{{ department.name }}</option>`
                    {% endfor %}
                    departmentElement.firstChild.innerHTML = options;
                    $(this).text("Save");

                } else {
                    {# else the row is in edit mode #}
                    {# Save the edit and reset the row to normal view (i.e. remove the <input> tags #}
                    {# Send an AJAX request to the backend to update the value of this row in the database #}
                    let idElement = $(this).parent().siblings()[0];
                    let nameElement = $(this).parent().siblings()[1];
                    let departmentElement = $(this).parent().siblings()[2];
                    let clsName = nameElement.firstChild.value;
                    let departmentName = departmentElement.firstChild.value;
                    let url = `/college/add_classes/${idElement.innerText}`;
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            'form_type': 'class',
                            'class_name': clsName,
                            'department_name': departmentName,
                        })
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        if (data['process'] === 'success') {
                            let name = data['class_name'];
                            let dept = data['department_name'];
                            let nameElement = $(this).parent().siblings()[1];
                            let departmentElement = $(this).parent().siblings()[2];
                            nameElement.innerText = name;
                            departmentElement.innerText = dept;
                            $(this).text("Edit");
                        } else {
                            document.getElementById('toast-polite-div').classList.remove('hidden');
                            $('.toast-header').children()[0].innerText = 'Error!';
                            $('.toast-header').siblings()[0].innerText = data['msg'];
                            $('.toast').toast('show');
                        }
                    });
                }
            });

            {# Class delete button #}
            $(".class-delete-btn").on("click", function () {
                let classId = $(this).parent().siblings()[0].innerText;
                let url = `/college/del_classes/${classId}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'form_type': 'class',
                    })
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // remove this row from the table
                        $(this).parent().parent().remove();
                    } else {
                        document.getElementById('toast-polite-div').classList.remove('hidden');
                        $('.toast-header').children()[0].innerText = 'Error!';
                        $('.toast-header').siblings()[0].innerText = data['msg'];
                        $('.toast').toast('show');
                    }
                });
            });

            {#  jQuery code for updating departments table items #}
            let oldDeptName = '';
            $(".department-edit-btn").on("click", function () {
                if ($(this).text() === 'Edit') {
                    {# If the button's value is 'Edit' that means the row is not in edit mode #}
                    let departmentElement = $(this).parent().siblings()[1];
                    let departmentName = departmentElement.innerHTML;
                    oldDeptName = departmentName;
                    departmentElement.innerHTML = `<input type=text id='clsdpt' value='${departmentName}' style='width: 100px'>`;

                    $(this).text("Save");
                } else {
                    {# else the row is in edit mode #}
                    {# Save the edit and reset the row to normal view (i.e. remove the <input> tags #}
                    {# Send an AJAX request to the backend to update the value of this row in the database #}
                    let idElement = $(this).parent().siblings()[0];
                    let departmentElement = $(this).parent().siblings()[1];
                    let departmentName = departmentElement.firstChild.value;
                    let url = `/college/add_classes/${idElement.innerText}`;
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({
                            'form_type': 'department',
                            'department_name': departmentName,
                        })
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        if (data['process'] === 'success') {
                            let dept = data['department_name'];
                            let departmentElement = $(this).parent().siblings()[1];
                            departmentElement.innerText = dept;

                            $("#class-table tbody tr").filter(function () {
                                $(this).children()[2].innerText = ($(this).children()[2].innerText === oldDeptName) ? dept : $(this).children()[2].innerText;
                            });
                            $(this).text("Edit");
                        } else {
                            document.getElementById('toast-polite-div').classList.remove('hidden');
                            $('.toast-header').children()[0].innerText = 'Error!';
                            $('.toast-header').siblings()[0].innerText = data['msg'];
                            $('.toast').toast('show');
                        }
                    });
                }
            });

            {# Department delete button #}
            $(".department-delete-btn").on("click", function () {
                let departmentId = $(this).parent().siblings()[0].innerText;
                let url = `/college/del_classes/${departmentId}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'form_type': 'department',
                    })
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // remove this row from the table
                        $(this).parent().parent().remove();
                    } else {
                        document.getElementById('toast-polite-div').classList.remove('hidden');
                        $('.toast-header').children()[0].innerText = 'Error!';
                        $('.toast-header').siblings()[0].innerText = data['msg'];
                        $('.toast').toast('show');
                    }
                });
            });

            // Toast: on hide add hidden class to the classList of #toast-polite-div
            $('.toast').on('hidden.bs.toast', function () {
                document.getElementById('toast-polite-div').classList.add('hidden');
            });


            // Teacher edit screen
            $('.teacher-edit-btn').on('click', function () {
                document.getElementById('dash-nav').style.display = 'none';
                document.getElementById('content-teachers').classList.add('hidden');
                document.getElementById('content-teachers-edit').classList.remove('hidden');
                document.getElementById('id-teacher-edit').innerText = $(this).parent().siblings()[0].innerText;

                // Pre-fill the form with the data of this particular teacher
                let teacher_id = document.getElementById('id-teacher-edit').innerText;
                let url = `/college/add_teachers/${teacher_id}`;
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // Request successfully completed.
                        // Now fill
                        document.getElementById('firstname').value = data['teacher_json_obj']['first_name'];
                        document.getElementById('lastname').value = data['teacher_json_obj']['last_name'];
                        document.getElementById('email').value = data['teacher_json_obj']['email_id'];

                        // Get the multiple <select> values
                        let classes_assigned = data['teacher_json_obj']['classes_assigned'];
                        let multiSelectElement = document.getElementById('selectclasses');
                        for (let i = 0; i < classes_assigned.length; i++) {
                            for (let j = 0; j < multiSelectElement.options.length; j++) {
                                if (multiSelectElement.options[j].value === classes_assigned[i]) {
                                    multiSelectElement.options[j].selected = true;
                                }
                            }
                        }


                    } else {
                        // The request failed. Display the appropriate error message sent back in response.
                        document.getElementById('alertmessage').innerText = data['msg'];
                        document.getElementById('formerror').style.display = 'block';
                    }
                });

            });

            {# Teacher delete button #}
            $(".teacher-delete-btn").on("click", function () {
                let departmentId = $(this).parent().siblings()[0].innerText;
                let url = `/college/del_teachers/${departmentId}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    console.log(data);
                    if (data['process'] === 'success') {
                        // remove this row from the table
                        $(this).parent().parent().remove();
                    } else {
                        document.getElementById('toast-polite-div').classList.remove('hidden');
                        $('.toast-header').children()[0].innerText = 'Error!';
                        $('.toast-header').siblings()[0].innerText = data['msg'];
                        $('.toast').toast('show');
                    }
                });
            });

            // Column show/hide dropdown control for small devices
            $('#col-to-show').on('change', function () {
                if (this.selectedIndex === 0) {
                    $('.email-col').filter(function () {
                        if (!this.classList.contains('content-hide-sm')) {
                            this.classList.add('content-hide-sm');
                        }
                    });
                    $('.name-col').filter(function () {
                        if (this.classList.contains('content-hide-sm')) {
                            this.classList.remove('content-hide-sm');
                        }
                    });
                } else if (this.selectedIndex === 1) {
                    $('.name-col').filter(function () {
                        if (!this.classList.contains('content-hide-sm')) {
                            this.classList.add('content-hide-sm');
                        }
                    });
                    $('.email-col').filter(function () {
                        if (this.classList.contains('content-hide-sm')) {
                            this.classList.remove('content-hide-sm');
                        }
                    });
                }
            })

            // go back button event listener
            $('#go-back-btn').on('click', function () {
                goBack();
            });
        });

        function goBack() {
            // Go back to teacher's list view from edit/update teacher view
            document.getElementById('id-teacher-edit').innerText = '';
            document.getElementById('content-teachers-edit').classList.add('hidden');
            document.getElementById('dash-nav').style.display = 'block';
            document.getElementById('content-teachers').classList.remove('hidden');
        }

        // Validate and save the updated teacher form data
        function validateAndSave() {
            // Get and validate data
            let url = "/college/add_teachers";

            let teacher_id = document.getElementById('id-teacher-edit').innerText.trim();
            let first_name = document.getElementById('firstname').value.trim().split(' ').join('');
            let last_name = document.getElementById('lastname').value.trim().split(' ').join('');
            let email_id = document.getElementById('email').value.trim().split(' ').join('');
            let password1 = document.getElementById('password1').value.trim().split(' ').join('');
            let password2 = document.getElementById('password2').value.trim().split(' ').join('');

            // Get the multiple <select> values
            let selected_classes = document.getElementById('selectclasses');
            let classes_assigned = [];
            for (let i = 0; i < selected_classes.selectedOptions.length; i++) {
                classes_assigned.push(selected_classes.selectedOptions[i].value);
            }

            if (first_name === '') {
                document.getElementById('alertmessage').innerText = 'First name can not be empty. Please enter a valid first name.';
                document.getElementById('formerror').style.display = 'block';
            } else if (hasNumber(first_name)) {
                document.getElementById('alertmessage').innerText = 'First name can not contain numbers. Please enter a valid first name.';
                document.getElementById('formerror').style.display = 'block';
            } else if (last_name === '') {
                document.getElementById('alertmessage').innerText = 'Last name can can not be empty. Please enter a valid last name.';
                document.getElementById('formerror').style.display = 'block';
            } else if (hasNumber(last_name)) {
                document.getElementById('alertmessage').innerText = 'Last name can not contain numbers. Please enter a valid last name.';
                document.getElementById('formerror').style.display = 'block';
            } else if (email_id === '') {
                document.getElementById('alertmessage').innerText = 'Email id can not be empty. Please enter a valid email id.';
                document.getElementById('formerror').style.display = 'block';
            } else if (checkEmailInvalid(email_id)) {
                document.getElementById('alertmessage').innerText = 'Email id is invalid. Please enter a valid email id.';
                document.getElementById('formerror').style.display = 'block';
            } else if (classes_assigned.length < 1) {
                document.getElementById('alertmessage').innerText = 'You must assign this teacher to at least one class';
                document.getElementById('formerror').style.display = 'block';
            } else {
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'mode': 'update',
                        'teacher_id': teacher_id,
                        'first_name': first_name,
                        'last_name': last_name,
                        'classes_assigned': classes_assigned,
                        'email_id': email_id,
                        'password1': password1,
                        'password2': password2,
                    })
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // Request successfully completed. Clear the input box
                        document.getElementById('firstname').value = '';
                        document.getElementById('lastname').value = '';
                        let multiSelectElement = document.getElementById('selectclasses');
                        for (let i = 0; i < multiSelectElement.options.length; i++) {
                            multiSelectElement.options[i].selected = false;
                        }
                        document.getElementById('email').value = '';
                        document.getElementById('password1').value = '';
                        document.getElementById('password2').value = '';

                        // Update the teacher's list table with the new data
                        let updated_data = data['updated_data']
                        $("#teacher-table tbody tr").filter(function () {
                            if ($(this).children()[0].innerText === `${updated_data['id']}`) {
                                $(this).children()[1].innerText = `${updated_data['first_name']} ${updated_data['last_name']}`;
                                $(this).children()[2].innerText = updated_data['email_id'];
                                let cls_lst = '';
                                for (let i = 0; i < updated_data['class_list'].length; i++) {
                                    cls_lst += `${updated_data['class_list'][i]} `;
                                }
                                $(this).children()[3].innerText = cls_lst;
                            }
                        });

                        // Go back to previous page/view
                        goBack();
                    } else {
                        // The request failed. Display the appropriate error message sent back in response.
                        document.getElementById('alertmessage').innerText = data['msg'];
                        document.getElementById('formerror').style.display = 'block';
                    }
                });
            }
        }

    </script>
{% endblock college-admin-script %}
