{% extends 'college/college_base.html' %}
{% load static %}

{% block title %}
    College Admin: {{ request.user.college.college_name|slice:':20' }}
{% endblock title %}

{# Visible to college admins #}
{% block admin-content %}

    <main role="main" class="container-md">
        <div class="card" style="margin-bottom: 35px;">
            <div class="card-body">
                <h5 class="card-title">
                    {{ request.user.college.name }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ request.user.college.college_name }} | Account created at: {{ request.user.college.signup_date }}
                </h6>
                <br>
                <div class="card-text">
                    <form method="POST" action="{% url 'user_info_change' %}">
                        {% csrf_token %}
                        <input name="full_path" type="hidden" value="{{ request.get_full_path }}">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="name@example.com"
                                   value="{{ request.user.email }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First name</label>
                            <input type="text" name="first_name" class="form-control" id="first_name" placeholder="John"
                                   value="{{ request.user.first_name }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last name</label>
                            <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Doe"
                                   value="{{ request.user.last_name }}" required>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success
                                    {% else %} alert-warning {% endif %}
                                    alert-dismissible fade show" id="formerror" role="alert"
                                     style="display: block;">
                                    <strong class="alertmessage">{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        &times;
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success" id="details-update-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card" style="margin-bottom: 35px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    Subscription details
                </h6>
                <br>
                <div class="card-text">
                    {# TODO: Display plan renew or upgrade button #}
                    <div class="row">
                        <div class="col-3" style="font-weight: 500;">Storage space used</div>
                        <div class="col-9{% if percent_space_used > 90 %} text-danger {% else %} text-success {% endif %}"
                             style="font-weight: 700;">
                            {{ used_storage_space }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="font-weight: 500;">Storage space left</div>
                        <div class="col-9" style="font-weight: 500;">{{ storage_space_left }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="font-weight: 500;">Total allotted storage space</div>
                        <div class="col-9" style="font-weight: 500;">{{ allotted_storage_space }}</div>
                    </div>
                    {% if renewable %}
                        <div class="row">
                            <div class="col-6">
                                <b class="text-danger">{{ days_left }} days left</b> for your subscription to end. Please renew.
                            </div>
                        </div>
                    {% endif %}
                    <br>
                    {# TODO: complete the plan upgrade and renew functionality #}
                    <div class="row">
                        <div class="col-3">
                            <a class="btn btn-outline-success" href="#">Upgrade Plan</a>
                        </div>
                        {% if renewable %}
                            <div class="col-3">
                                <a class="btn btn-success" href="#">Renew Plan</a>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    Re-set your password
                </h6>
                <br>
                <div class="card-text">
                    <form method="POST" action="{% url 'user_password_reset' %}">
                        {% csrf_token %}
                        <input name="full_path" type="hidden" value="{{ request.get_full_path }}">
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Current password</label>
                            <input type="password" name="current_password" class="form-control" id="current_password"
                                   placeholder="**********" autocomplete="off"
                                   required>
                        </div>
                        <br>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New password</label>
                            <input type="password" name="new_password" class="form-control" id="new_password"
                                   placeholder="**********" autocomplete="off"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_new_password" class="form-label">Confirm new password</label>
                            <input type="password" class="form-control" id="confirm_new_password"
                                   name="confirm_new_password" placeholder="**********" autocomplete="off"
                                   required>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success
                                    {% else %} alert-warning {% endif %}
                                    alert-dismissible fade show" id="formerror" role="alert"
                                     style="display: block;">
                                    <strong class="alertmessage">{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        &times;
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

{% endblock admin-content %}

{% block college-college-script %}
    <script type="text/javascript" src="{% static 'js/user_account.js' %}"></script>
{% endblock college-college-script %}
