{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}Teacher: {{ request.user.teacher.college.college_name|slice:':20' }} {% endblock title %}
{% block teacher-content %}
    <main role="main" class="container-md" id="classroom-main">
        <div class="header-img-container">
            <img id="classroom-header-img" src="{% static 'images/illustrations/books.png' %}" class="img-fluid"
                 alt="Photo of stacked books">
            <h1 class="img-text-top-left colorbluesapphire">{{ college_class.name }}</h1>
        </div>
        <br>
        <div class="float-left">
            <button class="btn btn-warning">+ Add new post</button>
        </div>
        <div class="input-group-prepend float-right">
            <select class="form-control btn-warning" id="exampleFormControlSelect1">
                <option class="subject-options" value="All subjects">All subjects</option>
                {% if subjects %}
                    {% for subject in subjects %}
                        <option class="subject-options" value="{{ subject.name }}">{{ subject.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <br>
        <br>
        <hr>
        <div class="container" id="teacher-feed">

        </div>

    </main>
    <script type="text/javascript">
        if (!document.getElementById("home-link").classList.contains('active')) {
            document.getElementById("home-link").classList.add('active');
        }
    </script>
{% endblock teacher-content %}
