{# This is the base template for college pages. #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ request.user.college.college_name }} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/college_base.css' %}">
    <script type="text/javascript">
        let user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body>
{# Navigation bar #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'college_page' %}">{{ request.user.college.college_name|slice:':20' }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="home-link">
                <a class="nav-link" href="{% url 'college_page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.groups.all.0.name == 'collegeadmin' %}
                {# If the user is a college admin #}
                <li class="nav-item" id="add-classes-link">
                    <a class="nav-link" href="{% url 'college_add_classes' %}">Add classes</a>
                </li>
                <li class="nav-item" id="add-teachers-link">
                    <a class="nav-link" href="{% url 'college_add_teachers' %}">Add teachers</a>
                </li>

            {% elif request.user.groups.all.0.name == 'teacher' %}
                {# If the user is a teacher #}
                <li class="nav-item">
                    <a class="nav-link" href="#">Add subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add students</a>
                </li>

            {% elif request.user.groups.all.0.name == 'student' %}
                {# If the user is a student #}
                <li class="nav-item">
                    <a class="nav-link" href="#">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reading materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Links</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">&nbsp;&nbsp;
            <a class="btn btn-warning my-2 my-sm-0" href="{% url 'signout' %}">Sign out</a>
        </form>
    </div>
</nav>

{# Main content #}
{% if request.user.groups.all.0.name == 'collegeadmin' %}
    {# If the user is a college admin #}
    {% block admin-content %}

    {% endblock admin-content %}
{% elif request.user.groups.all.0.name == 'teacher' %}
    {# If the user is a teacher #}
    {% block teacher-content %}

    {% endblock teacher-content %}
{% elif request.user.groups.all.0.name == 'student' %}
    {# If the user is a student #}
    {% block student-content %}

    {% endblock student-content %}
{% endif %}


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/college_base.js' %}"></script>
</body>
</html>