{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}Teacher: {{ request.user.teacher.college.college_name|slice:':20' }} {% endblock title %}
{% block teacher-content %}
    <main role="main" class="container-md">
        <h1 class="colorbluesapphire">Assign subjects to classes</h1>
        <div class="card">
            <form name="assignsubjects" id="assignsubjectsform" class="card-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="selectclass">Select class</label>
                    <select class="form-control" id="selectclass" name="selectclass">
                        {% for cls in classes %}
                            <option value="{{ cls.id }}">{{ cls.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectsubjects">Select the subject(s) that you want to add to this class</label>
                    <select multiple class="form-control" id="selectsubjects" name="selectsubjects">
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                    <small id="selectsubjectsHelp" class="form-text text-muted">You can select multiple subjects by
                        holding
                        control key (command key on mac) and pressing the left mouse button.</small>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" id="clssubjectformerror" role="alert">
                    <strong id="clssubjectalertmessage"></strong>
                    <button type="button" class="close" id="clssubjectalertclose" aria-label="Close">
                        &times;
                    </button>
                </div>
                <button type="button" class="btn btn-warning" onclick="validateAndAssignSubject(true)">Save and add more
                </button>
                <button type="button" class="btn btn-outline-warning btn-margin-top-sm"
                        onclick="validateAndAssignSubject(false)">Save and go back
                </button>
            </form>
        </div>
        <br><br>
        <h1 class="colorbluesapphire">Add new subjects</h1>
        <div class="card">
            <form name="addclass" id="addclassform" class="card-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="subjectname">Subject name</label>
                    <input type="text" class="form-control" id="subjectname" name="subjectname"
                           aria-describedby="subjectnameHelp"
                           placeholder="Subject name eg. OS, SE, Applied Math,..etc" required>
                    <small id="nameHelp" class="form-text text-muted">Please enter the subject name</small>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" id="subjectformerror" role="alert">
                    <strong id="subjectalertmessage"></strong>
                    <button type="button" class="close" id="subjectalertclose" aria-label="Close">
                        &times;
                    </button>
                </div>
                <button type="button" class="btn btn-warning" onclick="validateAndAddSubject(true)">Save and add more
                </button>
                <button type="button" class="btn btn-outline-warning btn-margin-top-sm"
                        onclick="validateAndAddSubject(false)">Save and go back
                </button>
            </form>
        </div>
    </main>
{% endblock teacher-content %}

{% block college-teacher-script %}
    <script type="text/javascript">
        if (!document.getElementById('add-subjects-link').classList.contains('active')) {
            document.getElementById('add-subjects-link').classList.add('active');
        }


        // select already assigned subjects for particular selected class
        $(document).ready(function () {
            showPreassignedSubjects();

            $('#selectclass').on('change', function () {
                showPreassignedSubjects();
            });

        });

        function showPreassignedSubjects() {
            let selected_class = $('#selectclass').val();
            let url = `/college/teacher/add_subjects/${selected_class}`;

            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
            }).then((response) => {
                return response.json();
            }).then((data) => {
                // first clear the options list
                $('#selectsubjects').val('');

                // now update the options list
                $('#selectsubjects').filter(function () {
                    for (let i = 0; i < $(this)[0].options.length; i++) {
                        for (let j = 0; j < data.subjects.length; j++) {
                            if (parseInt($(this)[0].options[i].value) === data.subjects[j]) {
                                $(this)[0].options[i].selected = true;
                            }
                        }
                    }
                });
            });
        }


        function validateAndAssignSubject(addMore) {
            let selected_class = $('#selectclass').val();
            let selected_subjects = $('#selectsubjects').val();

            if (selected_class === undefined || selected_class === '') {
                displayFormErrorMessage(false, 'Please select the class you want to assign the subjects to.', 'clssubjectalertmessage');
            } else if (selected_subjects.length < 1) {
                displayFormErrorMessage(false, 'Please select at least one subject to assign to this class', 'clssubjectalertmessage');
            } else {
                let url = `/college/teacher/add_subjects/${selected_class}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'selected_subjects': selected_subjects,
                    })
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // display success message
                        displayFormErrorMessage(true, data['msg'], 'clssubjectalertmessage');

                        if (addMore === false) {
                            // Go to home page
                            window.location.replace('/college/teacher');
                        }
                    } else {
                        // The request failed. Display the appropriate error message sent back in response.
                        displayFormErrorMessage(false, data['msg'], 'clssubjectalertmessage');
                    }
                });
            }

        }

        function validateAndAddSubject(addMore) {
            let subjectName = $('#subjectname').val().trim();

            if (subjectName === '') {
                displayFormErrorMessage(false, 'Error! Subject name should not be empty', 'subjectalertmessage');
            } else {
                let url = '/college/teacher/add_subjects';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'subject_name': subjectName,
                    })
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    if (data['process'] === 'success') {
                        // Request successfully completed. Clear the input box
                        $('#subjectname').value = '';

                        // display success message
                        displayFormErrorMessage(true, data['msg'], 'subjectalertmessage');

                        // update the options list in the 'assignsubjects' form
                        $('#selectsubjects').append(new Option(data['subject_name'], data['subject_name']));

                        if (addMore === false) {
                            // Go to home page
                            window.location.replace('/college/teacher');
                        }
                    } else {
                        // The request failed. Display the appropriate error message sent back in response.
                        displayFormErrorMessage(false, data['msg'], 'subjectalertmessage');
                    }
                });
            }
        }

        // jQuery code for closing the bootstrap-alert when the 'x' button is clicked
        $(document).ready(function () {
            $('#clssubjectalertclose').click(function () {
                $('#clssubjectformerror').css('display', 'none');
            });
            $('#subjectalertclose').click(function () {
                $('#subjectformerror').css('display', 'none');
            });
        });

    </script>


{% endblock college-teacher-script %}